{% extends "base.html" %}

{% block page_title %}
    Sign Up
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

<div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">
    {% include "users/social_login.html" %}

    <!-- https://docs.djangoproject.com/en/3.0/ref/csrf/ -->
    <form method="POST" action="{% url "users:signup" %}" class="form__box">
        {% csrf_token %}
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <span class="text-red-700 font-medium text-sm">{{error}}</span> 
        {% endfor %}
        {% endif %}

        {% for field in form %}
        <div class="input__box {% if field.errors %}has_error{% endif %}">
            {{field}}
            {% if field.errors %}
                {% for error in field.errors %}
                    <span class="text-red-700 font-medium text-sm">{{error}}</span> 
                {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        <button>회원가입</button>
    </form>

    <div class="mt-5">
        <span class="mr-2">이미 계정을 갖고 계시나요?</span>
        <a href="{% url 'users:login' %}" class="text-teal-500 font-medium">Log in</a>
    </div>

</div>
{% endblock content%}