<div class="flex flex-col w-full">
    <!-- receiving from urls.py -->
    <a href="{% url 'users:github-login' %}" class="w-full border-2 font-medium text-gray-700 mb-2 border-gray-700 text-center rounded-sm py-5">
            <i class="fab fa-github-alt mr-2 fa-lg"></i> 깃헙으로 계속하기
        </a>

        <a href="{% url 'users:kakao-login' %}" class="w-full border font-medium text-yellow-800 mb-2 border-yellow-400 text-center rounded-sm py-5 bg-yellow-400 ">
            <i class="fas fa-comment mr-2 fa-lg"></i> 카카오로 계속하기
        </a>

</div>

<div class="flex items-center w-full my-5">
    <div class="h-px w-full bg-gray-400"></div>
    <span class="text-gray-600 font-medium mx-4 text-sm">or</span>
    <div class="h-px w-full bg-gray-400"></div>
</div>